<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login </h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <div class="form-outline form-white mb-4">
                <input type="email" class="form-control form-control-lg" id="username"/>
                <label class="form-label" for="typeEmailX" >Email</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" class="form-control form-control-lg" id="password"/>
                <label class="form-label" for="password" >Password</label>
              </div>
              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

              <button class="btn btn-outline-light btn-lg px-5" onclick="connect()">Login</button>
              <button class="btn btn-outline-light btn-lg px-5" onclick="login()">Login with token</button>

            </div>
            <div>
              <p class="mb-0">Don't have an account? <a href="<%= registerUrl %>" class="text-white-50 fw-bold">Sign
                  Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    //works if there is a token stored in session storage
    function login(){
      const token = sessionStorage.getItem("token")
      $.ajax({
            type: "GET",
            url: '/api/v1/dashboard',
            headers: {
              'Authorization': `Bearer ${token}`,
              'Access-Control-Allow-Origin': '*',
            },
            success: function (response) {
              $('.container').html("");
              $('.container').append(response);
            },
            error: function (response) {
              console.log(response.statusText)
            }
          });
    }

    function connect() {
      var data = {
        username: $('#username').val(),
        password: $('#password').val(),
      }
      console.log(data)
      var url = "<%= loginUrl %>";

      $.ajax({
        type: "POST",
        url: url,
        dataType: 'json',
        data: JSON.stringify(data),
        contentType: "application/json; charset=utf-8",
        headers: {
          'Access-Control-Allow-Origin': '*',
        },
        //Once logged in, saves token in session storage for further use
        success: function (response) {
          console.log("User succesfuly logged in!")
          sessionStorage.setItem("token", response.token);
          $.ajax({
            type: "GET",
            url: response.redirect,
            headers: {
              'Authorization': `Bearer ${response.token}`,
              'Access-Control-Allow-Origin': '*',
            },
            success: function (response) {
              $('.container').html("");
              $('.container').append(response);
            },
            error: function (response) {
              console.log(response.statusText)
            }
          });
        },
        error: function (response) {
          console.log(response.state())
        }
      });
    }
  </script>
</section>